In [16]:
import pandas as pd
import json

# this crates a very simple dataset where a description maps to a price
df = pd.read_csv("data.csv")
df = df[["userReviews", "price"]]

# df
df

                                            userReviews     price
0     A hidden gem in the Emerald City of Seattle ho...  6.212606
1     I liked it. Reasonable price for the location ...  5.826000
2     Exceptional The woman working at the front gav...  6.084499
3     definitely I will come back staff are great pe...  6.061457
4     Super Seattle hotel The hotel was funky, well ...  5.937536
...                                                 ...       ...
3054  it was a percect location for my trip. it was ...  5.062595
3055  good the housekeeping service do your room and...  5.446737
3056  Very Good great location, clean and friendly s...  5.187386
3057  Exceptional Really close to the Universal park...  5.327876
3058  Either for Parks visit or Ciry visit - great h...  4.997212

[3059 rows x 2 columns]